.Home .lander {
  padding: 120px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .notes {
  padding: 60px 60px;
  text-align: left;
}

.Home .notes h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}